{% extends 'mychart/base.html' %}

{% block chart %}
<div class="line1" style="display: flex; padding-top: 30px;">
    <div class="memChart" style="width: 500px; margin-left: 10px;">
        <canvas id="memChart"></canvas>
    </div>
    <div class="upTimeChart" style="width: 500px;">
        <canvas id="upTimeChart">
        </canvas>
    </div>
    <div class="Traffic" style="width: 500px;">
        <canvas id="TrafficChart">        
        </canvas>
    </div>
    <div class="freedisk" style="width: 500px;">
        <canvas id="diskChart">
        </canvas>
    </div>
</div>

<div class="line2">
    
</div>

{% endblock %}
